<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
    <% if (user) { %>
      
        <a href="/cues/new">Write New Cue</a>
        &nbsp;|&nbsp;
        <a href="/cues">All Cues</a>
      &nbsp;|&nbsp;
      <a href="/">Home</a>
      &nbsp;|&nbsp;
 <a href="/logout">Log Out</a>

 <% } else { %>
<h1>Cues</h1>
    <a href="/auth/google" class="login">Log In</a>
    <% } %>
 </nav>
 
 