<%- include('../partials/header.ejs') %>
<div id="welcomemsg">
<h3>Edit a Cue</h3>
<form action="/cues/<%= cue._id %>?_method=PUT" method="POST">
    <label>Title Your Cue </label>
        <input type="text" name="title">
   
    <br>
    <label>Tag Your Tone </label>
    <select name="tone">
        <option value="creative">Creative</option>
        <option value="comedic">Comedic</option>
        <option value="memoir">Memoir</option>
    </select>
    <br>
    <label>Give A Cue</label>
    <textarea name="cueContent"></textarea>
        <br>

    <a href="/cues"><button>Save</button></a>
</form>
</div>